@font-face
{
    font-family: 'Coral Pen Free';
  src: url('Coral Pen Free.eot');
  src: url('Coral Pen Free.eot?#') format('embedded-opentype'),
      url('Coral Pen Free.woff') format('woff'),
      url('Coral Pen Free.ttf') format('truetype');
}
@font-face
{
    font-family: 'Coral Pen Free';
  src: url('Coral Pen Free.eot');
  src: url('Coral Pen Free.eot?#') format('embedded-opentype'),
      url('Coral Pen Free.woff') format('woff'),
      url('Coral Pen Free.ttf') format('truetype');
}
